.venv
.idea
solana_module/solana_wallet/*
solana_module/anchor_module/anchor_programs/*
solana_module/anchor_module/execution_traces/*
solana_module/anchor_module/execution_traces_results/*
solana_module/anchor_module/.anchor_files